{
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=${PROJECT_NAME};User ID=postgres;Password=REPLACE_ME;"
  },
  "App": {
    "AdminPassword": "REPLACE_ME"
  },
  "OpenIddict": {
    "Applications": {
      "${PROJECT_NAME}_TestClient": {
        "ClientId": "${PROJECT_NAME}_TestClient",
        "ClientSecret": "REPLACE_ME"
      }
    }
  }
}
