{
  "ConnectionStrings": {
    "Default": "${STAGING_DB_CONN}"
  },
  "App": {
    "AdminPassword": "${STAGING_ADMIN_PASSWORD}"
  },
  "OpenIddict": {
    "Applications": {
      "${PROJECT_NAME}_TestClient": {
        "ClientId": "${PROJECT_NAME}_TestClient",
        "ClientSecret": "${STAGING_OPENIDDICT_CLIENT_SECRET}"
      }
    }
  }
}
